div.black {
  background-color: black;
}

div.white {
  background-color: white;
}

div.square{
  height: 62.5px;
  width: 62.5px;
  display: inline-block;
}

body {
  background-color: green;
}

.chessboard {
  width: 500px;
  height: 500px;
  border: 3px solid tan;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5%;
}
